<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/DashBoard.css">
    <script type="text/javascript">
        var image = <%- JSON.stringify(image) %>;
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="../js/qrcode.min.js"></script>
    <script src="../js/DashBoard.js"></script>
    <title>DashBoard</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div id="deviceNo"><h3><%= no %>.Voting</h3></div>
                <div id="qrcode"></div>
                <div id="question">
                    <h5 id="description">問題: <%= q %></h5>
                </div>

                <!-- <input id="satu" type="checkbox" class="carouselFullScreen" />
                <ul id="image_area" class="carousel-container" style="display: none;">
                    <li>
                        <input type="checkbox" checked="checked" class="carousel-toggle" />
                        <ul class="carousel-content">
                            <li><img id="image" src="" /></li>
                        </ul>
                    </li>
                    <label for="satu" class="carousel-fullscreen"></label>
                </ul> -->
                
                <img id="image" src="" />

                <div id="question">
                    <div id="total"></div>
                    <div id="options">
                        <% for(var i = 0; i < a.length; i++){ %>
                            <p><%= a[i] %></p>
                        <% } %>
                    </div>
                </div>

                <button id="home" class="btn btn-info btn-block">回到問題列表</button>

            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</body>
</html>