<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/Polling.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="/js/Polling.js"></script>
    <title>Polling</title>
</head>
<body>
<!--for AI Polling-->
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="text-center">
            <h2 id="welcome">歡迎來到 AiPolling，</h2>
        </div>
        <div class="text-center">
            <h4 id="prompt">請按下Start 進行投票！</h4>
        </div>
        <div class="text-center">
            <button type="button" id="startBtn" class="btn btn-info btn-lg">Start</button>
        </div>
    </div>
    <div class="col-md-4"></div>
</body>
</html>