<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/Voting.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="../js/Voting.js"></script>
    <title>Voting</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div>
                    <h4>題目: <%= q %></h4>
                    <h5>你的答案: 尚未選擇</h5>
                </div>
                <% for(var i = 0; i < a.length; i++){ %>
                <div>
                    <button type="button" class="btn" style="background-color: <%= a[i].color %>">
                        <%= a[i].description %>
                        <span class="badge badge-light" style="display:none">52%</span>
                    </button>
                </div>
                <% } %>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</body>
</html>