textarea{
    font-weight: bold;
    width: 100%;
    text-align:center;
    margin-top: 20px;
}
input{
    font-weight: bold;
    width: 100%;
    margin-top: 10px;
    text-align:center;
}
button{
    margin-top: 20px;
    /*border: 1px solid black !important;*/
}
body{
    background-color: #fff8dc;
}