button{
    color: white;
    width: 100%;
    margin-top: 10px;
}
.badge{
    float: right;
}
body{
    background-color: #fff8dc;
}
#disqus_thread{
	margin-top: 50px;
}
#end{
    visibility: hidden;
    width:500px;
    height:200px;
    left:50%;
    top:50%;
    margin:-100px 0 0 -100px;
    font-weight: bold;
}
#next{
    visibility: hidden;
}
body{
    background-color: antiquewhite;
}
#interact{
    visibility: hidden;
}
#welcome{
    margin: 0;
    position: absolute;
    top: 50%;
    /*-ms-transform: translateY(-50%);*/
    /*transform: translateY(-50%);*/
}
#startBtn {
    margin-top: 20px;
}
#promptText {
    color: darkcyan;
}


