button{
    color: white;
    width: 100%;
    margin:1.5rem 0px 1.5rem 0px; 
    font-size: 1.5rem!important;
}
.badge{
    float: right;
}
body{
    background-color: #f2f1f3;
}
#disqus_thread{
	margin-top: 50px;
}
#end{
    visibility: hidden;
    width:500px;
    height:200px;
    left:50%;
    top:50%;
    margin:-100px 0 0 0px;
    font-weight: bold;
}
#next{
    visibility: hidden;
}
#interact{
    visibility: hidden;
}
#welcome{
    margin: 0;
    position: absolute;
    top: 50%;
    /*-ms-transform: translateY(-50%);*/
    /*transform: translateY(-50%);*/
}
#startBtn {
    margin-top: 20px;
}
#promptText {
    color: darkcyan;
}
#question_div{
    text-align:center;
}

/* the button's color */
#options>button:first-child {
    background-color: rgb(175,7,7);
}
#options>button:nth-child(2) {
    background-color: rgb(74,7,134);
}
#options>button:nth-child(3) {
    background-color: rgb(60,121,4);
}
#options>button:nth-child(4) {
    background-color: rgb(1,27,118);
}

/* the disabled button's color */
#options>button:first-child[disabled] {
    background-color: rgb(211,158,158);
}
#options>button:nth-child(2)[disabled] {
    background-color: rgb(181,173,191);
}
#options>button:nth-child(3)[disabled] {
    background-color: rgb(160,185,137);
}
#options>button:nth-child(4)[disabled] {
    background-color: rgb(146,155,185);
}